<html>
    <head>
        <title>Timeline</title>
        <link rel="stylesheet" href="styles.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <div id="app" class="main">
            <header class="header">
                <span>TimeLine</span>
                <button type="button"
                    class="fab header__fab"
                    v-on:click="() => showSettings()">
                    <span>⚙</span>
                </button>
            </header>
            <main v-cloak>
                <settings v-if="settingsShown"
                    :settings="settings"
                    :topics="topics"
                    :newPlayerIndex="newPlayerIndex"
                    :numberOfPlayers="numberOfPlayers"
                    :playersOrder="playersOrder"
                    @restart="restart"
                    @close="hideSettings"
                ></settings>

                <div v-if="this.packCards.length === 0 && this.playersCards === 0">Game over</div>
                <div class="playfieldBox">
                    <div class="playfield">
                        <div v-for="(card, index) in playedCards" class="cardBox">
                            <button v-if="index === 0 && playersCards.length !== 0"
                                :disabled="!selectedCard.id"
                                class="vacantLot"
                                :class="{ vacantLot_active: selectedCard.id }"
                                v-on:click="() => putCard(card, -1)"
                                >
                            </button>
                            <div class="card card_played">
                                <span class="card__title">{{card.title}}</span>
                                <span class="card__year">{{card.year}}</span>
                            </div>
                            <button type="button" v-if="playersCards.length !== 0"
                                :disabled="!selectedCard.id"
                                class="vacantLot"
                                :class="{ vacantLot_active: selectedCard.id }"
                                v-on:click="() => putCard(card, index)">
                            </button>
                        </div>
                    </div>
                </div>

                <div class="players">
                    <div class="playersCards">
                        <div v-for="(cardsSet, player) in playersCards" class="playerCards" :class="{ playerCards_active: currentPlayer === player}">
                            <p class="playerCards__name">{{ settings.playersList[player] || player }}</p>
                            <ul  class="playersCardsList">
                                <li v-for="(card, index) in cardsSet"
                                    class="card card_players"
                                    :class="{ card_active: card.id === selectedCard.id, card_blocked: currentPlayer !== player}"
                                    v-on:click="() => selectCard(card, index)">
                                    <span class="card__title">{{card.title}}</span>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <error-popup v-if="error"
                    :selectedCard="selectedCard"
                    :correctPlacementCards="correctPlacementCards"
                    @handleOk="giveNewCard"
                ></error-popup>

                <div v-if="endOfGame" class="modal">
                    <div class="veil"></div>
                    <div class="popup">
                        <div class="final">
                            <p class="final__title">The game is over</p>
                            <p>The winner is <strong class="final__winner">{{ settings.playersList[currentPlayer] || currentPlayer }}</strong>.</p>
                        </div>
                        <button class="button button_solid popup__button"
                            v-on:click="() => restart(settings, newPlayerIndex, numberOfPlayers, playersOrder)">
                            restart
                        </button>
                    </div>
                </div>
            </main>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="index.js" type="module"></script>
    </body>
</html>