@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
    width: 100vw;
}

.header {
    font-family: 'Noto Serif', serif;
    background: #333;
    color: gold;
    font-size: 2em;
    padding: 30px 0;
    text-align: center;
    width: 100%;
}

.playfield {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    overflow: auto;
    padding: 20px 0;
    width: 100%;
}

.cardBox {
    display: flex;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.15);
    box-sizing: border-box;
    height: 200px;
    margin: 0 20px;
    padding: 2em;
    width: 150px;
}

.card_active {
    background: gold;
}

.card_played {
    justify-content: space-between
}

.card_players {
    justify-content: center;
    font-size: 1.15em;
}

.card__title {
    font-size: 0.875em;
    text-align: center;
}

.card__year {
    font-family: 'Noto Serif', serif;
    font-size: 1.25em;
    margin-top: 0.5em;
}

.vacantLot {
    flex-shrink: 0;
    display: block;
    background: silver;
    border: none;
    height: 80%;
    width: 12px;
}

.vacantLot:hover {
    background: gold;
}

.playersCardsList {
    display: grid;
    grid-template-columns: repeat( auto-fit, 150px );
    grid-gap: 2%;
    /* grid-auto-flow: column;
    grid-auto-columns: 1fr; */
    align-items: stretch;
    justify-items: center;
    list-style: none;
    padding: 0 5%;
}