@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

[v-cloak] > * {
    display:none !important
}

[v-cloak]::before {
    content: "loading…";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 1.5em;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
    width: 100vw;
}

.header {
    position: relative;
    font-family: 'Noto Serif', serif;
    background: #333;
    color: gold;
    font-size: 2em;
    padding: 30px 0;
    text-align: center;
    width: 100%;
}

.settings {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 16px 32px;
    margin: 16px 0;
    width: 45vw;

}

.topics {
    list-style-type: none;
}

.topic {
    margin-bottom: 1em;
}

.playersCount {
    display: flex;
    flex-direction: column;
}

.playersCount__label {
    margin-right: 10px;
}

.playersNumber {
    border: 1px solid #333;
    border-radius: 4px;
    font-size: 0.875em;
    line-height: 2em;
    padding: 0 0.75em;
    width: 70px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.playersNumber:focus {
    border: 1px solid black;
    outline: none;
}

.checkbox {
    display: flex;
}

.checkbox__input {
    display: none;
}

.checkbox__appearance {
    display: flex;
    align-items: center;
}

.checkbox__appearance::before {
    content: '\2713';
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
    border-radius: 4px;
    color: #333;
    height: 18px;
    font-size: 14px;
    margin-right: 6px;
    margin-bottom: -2px;
    width: 18px;
}

.checkbox__input:checked + .checkbox__appearance::before {
    color: whitesmoke;
}

.button {
    border: 1px solid #333;
    border-radius: 4px;
    font-size: 1em;
    line-height: 2em;
    padding: 0 0.75em;
}

.button_outlined {
    background: transparent;
    color: #333;
}

.button_solid {
    background: #333;
    color: whitesmoke;
}

.fab {
    position: absolute;
    border: none;
    border-radius: 16px;
    background-color: gold;
    font-size: 1em;
    height: 32px;
    width: 32px;
}

.fab span {
    display: inline-block;
    margin-top: -6px;
}

.header__fab {
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
}

.playfieldBox {
    display: flex;
    align-items: center;
    margin: 0 auto;
    overflow: auto;
    width: 94%;
}

.playfield {
    display: flex;
    margin: 40px auto;
    padding: 20px 0;
}

.playersCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.playerCards_active {
    border: 1px solid gold;
    border-radius: 8px;
}

.playerCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw 0.5vw;
}

.playerCards__name {
    margin-bottom: 1.5vw;
}

.cardBox {
    display: flex;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.15);
    box-sizing: border-box;
    height: 200px;
    margin: 0 0.5vw;
    padding: 2em;
    width: 150px;
}

.card_active {
    background: gold;
}

.card_blocked {
    color: lightgray;
    pointer-events: none;
}

.card_played {
    justify-content: space-between
}

.card_players {
    justify-content: center;
    font-size: 1.15em;
}

.card__title {
    font-size: 0.875em;
    text-align: center;
}

.card__year {
    font-family: 'Noto Serif', serif;
    font-size: 1.25em;
    margin-top: 0.5em;
}

.card_wrong .card__title,
.card_wrong .card__year {
    color: firebrick;
}

.vacantLot {
    flex-shrink: 0;
    display: block;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23aaa9ad' stroke-width='3' stroke-dasharray='8%2c 12' stroke-dashoffset='3' stroke-linecap='square'/%3e%3c/svg%3e");
    border: none;
    border-radius: 50%;
    height: 32px;
    margin: 0 0.5em;
    width: 32px;
    transition: width 300ms, height 300ms;
}

.vacantLot:hover {
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23aaa9ad' stroke-width='3' stroke-dasharray='8%2c 12' stroke-dashoffset='3' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 0;
    height: 200px;
    width: 150px;
}

.vacantLot_active {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23333333' stroke-width='3' stroke-dasharray='8%2c 12' stroke-dashoffset='3' stroke-linecap='square'/%3e%3c/svg%3e");
}

.vacantLot_active:hover {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23FFD700' stroke-width='3' stroke-dasharray='8%2c 12' stroke-dashoffset='3' stroke-linecap='square'/%3e%3c/svg%3e");
}

.playersCardsList {
    display: flex;
    /* grid-auto-flow: column;
    grid-auto-columns: 1fr; */
    align-items: stretch;
    justify-items: center;
    list-style: none;
    /* padding: 0 5%; */
}

/*** popup ***/

.veil {
    position: fixed;
    bottom: 0; left: 0; right: 0;
    background: rgba(51, 51, 51, 0.1);
    height: calc(100vh - 104px);
    width: 100vw;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #fff;
    border-radius: 8px;
    padding: 2em 2em 1.5em;
}

.popup__header {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    width: 100%;
    z-index: 1;
}

.popup__closeButton {
    align-self: flex-end;
    font-size: 1.5em;
}

.popup__button {
    margin-top: 1.5em;
    width: 80px;
}

.popup__title {
    font-size: 1.5em;
}

.popup__subtitle {
    font-size: 1.25em;
    margin-bottom: 0.5em;
}

.playersCount__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playersList {
    list-style-position: inside;
}

.playersList li {
    margin-bottom: 1em;
}

.playerItem {
    display: inline-grid;
    grid-template-columns: auto 70% auto;
    grid-gap: 3.5%;
    align-items: center;

}

.textField {
    border-radius: 8px;
    border: 1px solid darkgray;
    line-height: 26px;
    padding: 0 10px;
    font-size: 0.875em;
}

.textField:focus {
    border: 1px solid #333;
    outline: none;
}

.playerItem__deleteButton {
    font-size: 1.15em;
    margin-top: -4px;
}

.iconButton {
    background: transparent;
    border: none;
    color: darkgray;
}


.iconButton:hover {
    color: #333;
}