@font-face {
  font-family: Hattan Antique;
  src: url('../assets/fonts/hattanantique-kit.woff');
  font-display: swap;
}

@font-face {
  font-family: Parisian;
  src: url('../assets/fonts/parisian-kit.woff');
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

.logo {
  background: whitesmoke;
  font-family: Parisian, sans-serif;
  font-size: 2em;
  z-index: 1;
  height: 3.5em;
  width: 3.5em;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 5px;
  mix-blend-mode: screen;
}

.name {
  display: block;
  margin-left: 0.2em;
  margin-bottom: -1.65em;
}

.surname {
  display: inline-block;
  margin-left: -0.5em;
  vertical-align: 0.2em;
}

.surname__firstLatter {
  font-family: Hattan Antique, sans-serif !important;
  font-size: 2em;
}

.surname::first-letter {
  color: transparent;
}
