@import url("https://fonts.googleapis.com/css?family=Poiret+One");

@import url('../logo.css');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  height: 100vh;
  width: 100vw;
  font-size: calc(14px + 6 * ((100vw - 720px) / 1024));
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

@media screen and (max-width: 720px) {
  main {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    height: auto;
    width: 100vw;
    overflow: hidden;
  }
}

.socAccountsSet {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: 20px;
}

@media screen and (max-width: 720px) {
  .socAccountsSet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25% 15%;
    margin: 10% auto 0;
    width: 90vw;
  }
}

.socAccount {
  font-size: 1.25em;
  transition: color 0.3s, transform 300ms;
  transition-timing-function: linear;
  cursor: pointer;
  padding: 15px;
  margin: 10%;
}

@media screen and (max-width: 720px) {
  .socAccount {
    padding: 0;
    margin: 0;
  }
}

  .socAccount__link {
    font-family: 'Poiret One', cursive;
    text-decoration: none;
    color: #fff;
    font-size: 1.25em;
  }

    .socAccountsSet__account:hover {
      color: #888;
    }

      .socAccountsSet__account:visited, .socAccountsSet__account:focus {
      outline: none;
    }

      .socAccountsSet__account_last {
      border-right: none;
    }

  .socAccount:hover {
    text-shadow:
    0 0 1px #fff,
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #464646,
    0 0 25px #464646,
    0 0 38px #464646;
    /* 0 0 100px #464646,
    0 0 150px #464646; */
    transform-origin: left center;
  }

.portrait {
  position: relative;
  margin-left: -10%;
  overflow: hidden;
}

@media screen and (max-width: 720px) {
  .portrait {
    margin-top: calc(-4.5em);
    height: 90vmin;
    width: 90vmin;
  }
}

.portrait img {
  height: 100vh;
  max-height: 100vh;
  animation: show-portrait 3s;
}

@keyframes show-portrait {
  0% {
    opacity: 0;
    filter: saturate(1.08) sepia(0.5);
  }
  50% {
    opacity: 1;
    filter: saturate(1.08) sepia(0.25);
  }
  75% {

  }
  100% {

    filter: saturate(1.08) sepia(0);
  }
}

.portrait_loading {
  animation-play-state: paused !important;
}

/*.logo {
  position: absolute;
  top: 20px; right: 20px;
  font-family: Parisian, sans-serif;
  font-size: 3em;
  z-index: 1;
}*/

.portrait__logo {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: whitesmoke;
  font-size: 2.5vw;
  height: 9vw;
  width: 9vw;
  z-index: 1;
}

@media screen and (max-width: 720px) {
  .portrait__logo {
    display: none;
  }
}

.page__logo {
  display: none;
}

@media screen and (max-width: 720px) {
  .page__logo {
    display: initial;
    position: fixed;
    bottom: 20px;
  }
}
